body {
    background-color: #251E2B!important;
    cursor: url("/cursor_normal.png"), auto;
}

a, button, span.link {
    cursor: url("/cursor_link.png"), auto!important;
}

div.react-player {
    width: 100%!important;
    max-width: 640px!important;
    height: 360px!important;
    margin-left: auto;
    margin-right: auto;
}

div.react-player > div > iframe {
    border-radius: 28px;
}