body {
  background-color: #000000 !important;
  cursor: url("https://evoverses.com/cursor_normal.png"), auto;
  overflow: hidden;
}

a,
button,
span.link,
a.chakra-link {
  cursor: url("https://evoverses.com/cursor_link.png"), pointer !important;
}


div.video-container {
  position: relative;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 

  overflow: scroll;
}

div.video-container::-webkit-scrollbar { 
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

div.video-container>video,
div.video-container>.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

div.video-container>video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}


#video-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#video-wrapper>#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -111;
  pointer-events: none;
}

.textShadow {
  text-shadow: 0 0 5px #515151, 0 0 10px #515151, 0 0 20px #515151, 0 0 30px #515151, 0 0 40px #515151, 0 0 50px #515151, 0 0 90px #515151
}